In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from __future__ import print_function
import sklearn
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from datetime import datetime
import os

%matplotlib inline
%config InlineBackend.figure_format = 'png'
pd.set_option("max_columns",50)

In [134]:
%%time
train = pd.read_csv("../data/train.csv", index_col=0)
train = train.reset_index(drop=True)
train = train[train["is_booking"] == 1]
np.random.seed(402)
train = train.ix[np.random.choice(train.index, 100000, replace=False)]
train = train.reset_index(drop=True)

Wall time: 9min 39s

In [39]:
# dtype_set = {'site_name':np.int32, 'posa_continent':np.int32, 'user_location_country':np.int32, 'orig_destination_distance':np.int32, \
#                  'user_id':np.int32, 'is_mobile':bool, 'is_package':bool, 'channel':np.int32, 'srch_adults_cnt':np.int32, 'srch_children_cnt':np.int32, \
#                 'srch_rm_cnt':np.int32, 'srch_destination_id':np.int32, 'srch_destination_type_id':np.int32,  'is_booking':bool, \
#                 'cnt':np.int32, 'hotel_country':np.int32, 'hotel_cluster':np.int32}

# usecols_set = ['user_id', 'site_name', 'posa_continent', 'user_location_country', 'orig_destination_distance',  'is_mobile', 'is_package', 'channel', \
#                       'srch_adults_cnt', 'srch_children_cnt', 'srch_rm_cnt', 'srch_destination_id', 'srch_destination_type_id', 'is_booking', 'cnt', 'hotel_country', 'hotel_cluster']

# %%time
# train = pd.read_csv('../data/train.csv',
#                     dtype=dtype_set,
#                     usecols=usecols_set,
#                     chunksize=1000000)

In [48]:
train["num"] = 1

In [54]:
train.head()

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,num
0,2013-05-24 21:18:49,2,3,66,331,15294,1333.8240,553218,0,0,9,2013-05-28,2013-05-29,1,0,1,12696,5,1,1,4,8,122,15,1
1,2013-08-07 11:58:51,2,3,66,321,47535,342.4031,323881,0,0,9,2013-08-18,2013-08-22,2,0,1,12189,6,1,1,2,50,637,72,1
2,2013-07-02 11:54:21,2,3,66,348,53377,3126.4955,276361,0,0,9,2013-07-15,2013-07-23,1,0,1,2758,3,1,1,6,31,1916,58,1
3,2013-11-20 17:37:30,2,3,66,315,6849,247.3951,583620,1,0,9,2013-12-28,2013-12-30,4,2,2,8267,1,1,1,2,50,675,56,1
4,2013-06-11 05:18:21,2,3,66,348,6188,149.4963,493501,0,0,9,2013-06-11,2013-06-14,1,0,1,18741,1,1,1,2,50,462,42,1

In [82]:
table = pd.pivot_table(train, values='num', index=['hotel_cluster', 'user_id'], columns=['is_booking'], aggfunc=np.sum)

In [87]:
train[train["user_id"] == 12053]

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,num
10709,2013-06-18 13:01:18,2,3,58,50,47668,NaN,12053,0,0,3,2013-08-24,2013-08-25,3,3,2,12183,6,1,1,2,50,636,0,1
43088,2013-03-14 03:42:53,2,3,58,50,47668,NaN,12053,1,0,9,2013-03-18,2013-03-19,1,1,2,12599,5,1,1,5,2,162,43,1
51027,2013-06-10 11:59:47,2,3,58,50,47668,NaN,12053,0,0,9,2013-07-10,2013-07-12,1,3,1,8291,1,1,1,2,50,191,95,1
90481,2013-09-24 06:53:03,2,3,58,50,47668,NaN,12053,0,0,9,2013-10-12,2013-10-18,2,3,2,18489,6,1,1,6,105,29,22,1

In [86]:
train = train.drop_duplicates()

In [95]:
train.groupby(['srch_destination_id',
                         'hotel_cluster'])['is_booking'].agg(['sum','count']).head()

                                   sum  count
srch_destination_id hotel_cluster
2                   20               1      1
4                   32               1      1
                    58               1      1
                    67               2      2
                    78               2      2

In [99]:
train[train.srch_destination_id == 4][train.hotel_cluster == 78]

C:\Users\Byeon\Anaconda3\envs\py27\lib\site-packages\ipykernel\__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,num
42157,2013-05-08 08:16:05,2,3,68,480,10322,NaN,401296,0,0,9,2013-05-13,2013-05-15,2,0,2,4,1,1,1,6,7,246,78,1
88479,2013-04-15 04:28:33,11,3,68,236,22721,NaN,419915,0,0,2,2013-04-15,2013-04-16,2,0,1,4,1,1,1,6,7,246,78,1

In [105]:
train[["is_booking","cnt"]].head()

train["ratio"] = train["is_booking"]/train["cnt"]

In [103]:
train["cnt"].value_counts() # 대부분 한번에 보고 결제해버림..! => 다른 대체물을 많이 보는편이 아님.

1    93985
2     1109
3       73
4       25
5        3
9        1
8        1
Name: cnt, dtype: int64

In [107]:
train["ratio"].value_counts()

1.000000    93985
0.500000     1109
0.333333       73
0.250000       25
0.200000        3
0.111111        1
0.125000        1
Name: ratio, dtype: int64

In [108]:
train[train.cnt == 8]

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,num,ratio
69783,2013-04-19 18:47:42,15,1,55,23,47551,NaN,1195399,0,0,5,2013-05-12,2013-05-13,1,1,1,27277,1,1,8,2,50,824,39,1,0.125

In [109]:
train[train.user_id == 1195399]

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,num,ratio
69783,2013-04-19 18:47:42,15,1,55,23,47551,NaN,1195399,0,0,5,2013-05-12,2013-05-13,1,1,1,27277,1,1,8,2,50,824,39,1,0.125

In [47]:
train.groupby("hotel_cluster").agg(sum)

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market
hotel_cluster,,,,,,,,,,,,,,,,,,,,
0,4200,1921,55803,181629,17910853,9.208420e+05,386495148,67,249,4139,1322,355,732,7584651,1803,660,669,1619,33559,353795
1,10533,4420,142975,448962,43555785,1.423071e+06,940816207,121,615,9874,3147,414,1860,14961930,3904,1550,1589,3100,77500,973400
2,18650,3661,126898,520246,42613272,2.243519e+06,910474967,120,262,9464,2630,443,1645,21380260,3953,1468,1491,6020,134093,601562
3,7308,1444,48828,182622,16216345,8.930333e+05,362673259,43,65,3423,1068,211,639,10030492,1678,576,591,2116,53321,399338
4,10509,3315,115939,343064,34405344,9.754157e+05,685113256,106,105,7637,2147,346,1307,17473062,4146,1156,1168,2539,89833,714910
5,17705,3502,120987,456694,38798773,1.886778e+06,893606082,112,180,8999,2483,509,1591,22423335,4264,1405,1423,5538,137517,673527
6,13880,4008,135951,457290,39649857,1.248556e+06,863889090,128,118,9448,2617,435,1614,22471204,4479,1441,1456,3886,116254,855829
7,8685,2965,92624,335865,30121395,7.106055e+05,662099105,109,50,7082,1949,370,1229,18011030,3105,1065,1075,2659,72704,816135
8,8240,1749,59434,227224,19869107,1.359002e+06,426086213,52,68,4363,1363,315,782,10650146,1918,694,715,2771,58489,550224
9,16562,4038,137142,484740,41320115,2.143711e+06,911296711,124,237,9309,2766,415,1619,20093806,3824,1462,1486,4453,145922,674286
10,12302,2728,99978,305242,28433256,1.057071e+06,621392695,107,119,6575,1965,347,1156,16355712,3194,1023,1029,2945,94650,569362
11,11818,2166,78104,304667,25275275,1.311255e+06,556224746,82,153,5788,1582,286,1038,12846290,2475,893,902,3936,89141,408297
12,7594,1047,28633,105209,10823312,7.312406e+05,288481934,36,62,2654,743,97,494,6747642,1200,444,457,1527,55554,232574
13,12368,3933,129207,423246,38735461,1.131995e+06,840424030,133,88,8888,2558,552,1562,23478085,4840,1392,1410,3306,97948,844875
14,3949,1284,37674,146958,13002331,3.904370e+05,300683563,52,28,2942,883,163,528,8184498,1550,482,493,1527,37738,345539
15,12485,3163,101434,359297,31963002,1.086054e+06,728100079,97,113,7292,2115,376,1299,18845066,3333,1165,1178,3401,94142,748354
16,16691,5376,182624,602001,54189469,1.458948e+06,1180706227,163,152,12992,3461,685,2193,30809136,6342,1930,1956,4920,147068,1187389
17,6924,1833,63421,201872,18143844,7.655291e+05,392536880,49,94,4289,1272,255,761,10139409,2046,666,671,1895,57881,386821
18,14962,6019,187811,658236,58064399,1.628176e+06,1271137510,190,264,13929,3662,796,2343,29752967,6822,2083,2107,4463,144579,1206195
19,8444,3153,101346,325262,31561333,9.243737e+05,654524688,113,191,7687,2010,407,1247,13702569,3552,1102,1113,2276,72872,680483
20,4947,896,33016,115824,10459017,5.877067e+05,232420401,19,25,2442,649,115,428,6782168,1108,375,391,1649,40167,347459
21,15774,4832,162727,568539,48630614,2.031841e+06,1068065957,148,298,11411,2991,555,1933,25517075,5729,1738,1766,4992,144063,855829
22,9630,1968,64945,258526,22687241,1.572653e+06,492915570,72,145,4778,1528,286,872,11768664,2063,785,798,3893,78832,409242
23,2664,1281,38783,129502,11850045,3.306279e+05,261734958,46,37,2912,794,104,494,6739932,1251,444,449,974,29608,307504
24,3456,1320,47355,142696,13100552,4.780156e+05,278624353,41,191,3130,896,92,521,4323774,1024,462,468,924,23100,290136
25,19697,3960,144063,523935,44485723,1.962278e+06,972309050,134,271,10185,2820,558,1760,22607974,4483,1562,1580,6329,144036,677728
26,3979,1697,52500,177066,16888823,8.674708e+05,365992168,58,271,3685,1194,308,633,8656259,1651,586,593,1598,42354,311630
27,582,158,5162,20107,1876747,6.622667e+04,41180169,8,17,380,107,27,67,1121694,58,58,58,161,6131,28843
28,18075,5500,187685,605838,54457103,1.614435e+06,1159516179,190,140,12578,3620,816,2177,31607806,6246,1942,1964,4751,161029,1177934
29,18658,2896,107130,448471,35996338,1.917052e+06,794890374,105,202,8009,2208,406,1448,19270707,3356,1279,1295,6067,137699,656692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,8948,3265,101437,371901,32312036,1.170188e+06,723864992,117,218,7783,2076,439,1301,15955616,3417,1160,1184,2706,67652,742920
71,2906,890,32497,93907,8808108,2.526410e+05,193104891,38,104,1992,674,292,334,3396685,625,314,316,658,17290,192505
72,11805,3650,120974,400056,36267702,1.091510e+06,779157480,115,148,8640,2373,548,1439,20309611,4212,1293,1319,2991,99321,747104
73,5005,1403,49812,161533,13872990,6.507266e+05,296718172,46,132,3010,1041,257,530,7108159,1448,497,509,1377,36495,260467
74,1404,297,14406,29664,2755583,7.348487e+04,56397674,6,8,692,211,54,113,1273099,102,102,105,213,18786,50348
75,4171,903,29135,117419,10236745,4.694647e+05,218202194,36,46,2320,623,115,420,4939691,1169,366,370,1559,38926,273760
76,4382,1562,46299,166949,15664004,4.369218e+05,340942237,39,35,3643,1015,138,621,9161542,1729,566,574,1529,42039,398626
77,9175,3560,110713,381427,34244959,1.022633e+06,759756279,115,138,7911,2284,423,1418,18133552,3791,1262,1283,2874,84867,833586
78,11276,1955,71487,261745,22456087,1.431282e+06,508420242,74,77,5153,1482,282,927,14160112,2555,817,832,3907,89685,629666
79,5780,2308,72786,235486,22239198,7.279710e+05,478250769,78,261,4998,1603,161,942,8336182,1967,805,816,1610,40250,506791
80,2092,633,20081,71098,6194412,3.563220e+05,141087553,24,102,1422,459,111,253,3958742,354,230,232,714,21528,159485
81,15014,2436,89488,297379,28951113,1.651313e+06,657902967,64,91,6498,1871,249,1227,17612897,3144,1039,1058,4129,118278,744625
82,26381,4315,153122,642451,51649234,2.726913e+06,1194303589,163,219,11849,3250,541,2157,31242849,5468,1859,1886,8988,202718,1549868
83,10417,2854,96263,312899,30171862,1.135390e+06,634211957,93,136,6791,1924,357,1138,15394023,3219,1047,1056,2750,81659,600662
84,2771,1107,34691,113793,11125505,4.668931e+05,241369724,42,120,2441,797,223,432,4890457,964,390,400,912,20421,219033
85,10092,1606,53491,198990,18434964,1.093412e+06,420764179,56,77,4259,1192,215,755,11805404,1973,689,694,2999,75589,472569
86,2816,621,21590,87260,7682178,3.957671e+05,149888682,37,36,1686,480,70,271,3760320,672,253,255,1067,24726,171882
87,1294,652,20639,68191,6485601,3.184698e+05,134220416,23,152,1394,477,120,256,2800163,478,228,233,900,18378,180420
88,2676,924,30475,93022,8824309,3.055586e+05,195078459,21,152,2235,636,82,366,2826656,436,323,328,646,16150,202844
89,9838,2360,77815,292435,24676076,1.139378e+06,542313303,84,129,5849,1610,311,995,13985065,2853,892,905,3101,72298,553302
90,7303,1798,60027,233719,19030282,8.864922e+05,395255819,69,92,4075,1302,288,699,11121790,1845,667,674,2176,53801,474000
91,25663,11531,350841,1224421,108817276,2.559222e+06,2375133196,418,259,26563,7187,1769,4423,64209357,12428,3949,3988,8177,248721,2483909
92,1647,539,16106,63705,5490919,3.029183e+05,114314130,31,80,1210,393,67,206,2417187,449,195,195,579,14574,94603
93,3011,689,22231,96860,7553863,3.150194e+05,175869197,18,16,1609,511,103,277,4739819,864,267,270,900,22529,220755
94,4758,2668,71702,270797,24312149,5.944709e+05,559362943,83,61,6129,1621,346,1040,14580924,2912,915,924,1915,50655,583078
95,17493,5546,190904,641782,55974093,1.814784e+06,1211512053,204,377,12758,3507,598,2219,26008693,6092,1955,1978,4477,156671,1038991
96,4664,1700,52647,163085,16107510,5.835442e+05,352323062,53,165,3705,1175,324,639,8459020,1639,593,602,1474,38278,355379
97,8897,2464,79474,293820,27016103,1.423946e+06,577040834,90,198,5938,1723,302,1034,10637130,1954,924,931,3125,76675,380165
98,13669,4129,134611,502422,41329327,1.959561e+06,929771383,143,373,9727,2855,620,1681,18143103,4163,1502,1518,3731,101410,924467
99,16248,3298,109238,408798,34842808,1.909763e+06,824912698,115,199,7801,2314,404,1445,19822509,3696,1293,1313,4859,129895,644126

In [88]:
train1 = pd.read_csv('../data/train_2013.csv',
                    dtype={'is_booking':bool,'srch_destination_id':np.int32, 'hotel_cluster':np.int32},
                    usecols=['srch_destination_id','is_booking','hotel_cluster'],
                    chunksize=1000000)

# dtype을 설정하고(bool, np.int32) chunksize로 끊어서 하면 더 빠르게 데이터를 처리할 수 있음!!


aggs = []
print('-'*38)
for chunk in train1:
    agg = chunk.groupby(['srch_destination_id',
                         'hotel_cluster'])['is_booking'].agg(['sum','count'])
    agg.reset_index(inplace=True)
    aggs.append(agg)
    print('.',end='')
print('')
aggs = pd.concat(aggs, axis=0)

--------------------------------------
............

In [89]:
CLICK_WEIGHT = 0.05
agg = aggs.groupby(['srch_destination_id','hotel_cluster']).sum().reset_index()
agg.head()

   srch_destination_id  hotel_cluster  sum  count
0                    0              3  0.0      2
1                    1             20  1.0     10
2                    1             30  0.0      5
3                    1             57  0.0      1
4                    1             60  0.0      6

In [90]:
agg['count'] -= agg['sum']
# sum은 실제 booking과 count를 합친 것..!
agg = agg.rename(columns={'sum':'bookings','count':'clicks'})
agg['relevance'] = agg['bookings'] + CLICK_WEIGHT * agg['clicks']
agg.head()

   srch_destination_id  hotel_cluster  bookings  clicks  relevance
0                    0              3       0.0     2.0       0.10
1                    1             20       1.0     9.0       1.45
2                    1             30       0.0     5.0       0.25
3                    1             57       0.0     1.0       0.05
4                    1             60       0.0     6.0       0.30

In [91]:
def most_popular(group, n_max=5):
    relevance = group['relevance'].values
    hotel_cluster = group['hotel_cluster'].values
    most_popular = hotel_cluster[np.argsort(relevance)[::-1]][:n_max]
    return np.array_str(most_popular)[1:-1] # remove square brackets

most_pop = agg.groupby(['srch_destination_id']).apply(most_popular)
most_pop = pd.DataFrame(most_pop).rename(columns={0:'hotel_cluster'})
most_pop.head()

                      hotel_cluster
srch_destination_id
0                                 3
1                       20 60 30 57
2                             20 30
3                             60 53
4                    32 78 81 25 30

In [92]:
most_pop.tail()

                      hotel_cluster
srch_destination_id
62927                28 91 77 16 15
62929                99 28  6  7  5
62938                            82
62943                         89  3
62962                            94

In [93]:
train

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,num
0,2013-05-24 21:18:49,2,3,66,331,15294,1333.8240,553218,0,0,9,2013-05-28,2013-05-29,1,0,1,12696,5,1,1,4,8,122,15,1
1,2013-08-07 11:58:51,2,3,66,321,47535,342.4031,323881,0,0,9,2013-08-18,2013-08-22,2,0,1,12189,6,1,1,2,50,637,72,1
2,2013-07-02 11:54:21,2,3,66,348,53377,3126.4955,276361,0,0,9,2013-07-15,2013-07-23,1,0,1,2758,3,1,1,6,31,1916,58,1
3,2013-11-20 17:37:30,2,3,66,315,6849,247.3951,583620,1,0,9,2013-12-28,2013-12-30,4,2,2,8267,1,1,1,2,50,675,56,1
4,2013-06-11 05:18:21,2,3,66,348,6188,149.4963,493501,0,0,9,2013-06-11,2013-06-14,1,0,1,18741,1,1,1,2,50,462,42,1
5,2013-07-26 09:26:49,24,2,3,51,41641,NaN,1162102,0,0,9,2013-09-12,2013-09-18,4,0,2,669,3,1,1,2,50,212,0,1
6,2013-11-13 17:21:53,2,3,194,38,42328,NaN,579419,0,0,9,2013-12-31,2014-01-01,3,0,1,14908,1,1,1,3,88,1032,96,1
7,2013-02-13 10:53:04,2,3,66,356,34146,2726.9094,423168,0,0,9,2013-02-19,2013-02-28,1,0,1,11973,1,1,1,2,198,1228,18,1
8,2013-05-01 11:35:38,2,3,66,447,902,371.3049,187763,0,0,9,2013-05-11,2013-05-14,1,0,1,12194,6,1,1,2,50,656,95,1
9,2013-02-07 19:40:07,2,3,66,174,5938,856.9267,1016357,1,0,9,2013-02-27,2013-03-01,2,0,1,12004,1,1,1,2,50,480,91,1
10,2013-09-14 13:53:19,2,3,215,646,51733,813.3302,908932,0,1,1,2013-09-16,2013-09-19,1,0,1,8791,1,1,1,4,8,110,18,1
11,2013-04-25 11:00:27,28,1,68,10,26750,NaN,968636,0,0,9,2013-05-06,2013-05-07,1,1,1,8797,1,1,1,6,144,1450,11,1
12,2013-04-11 23:42:48,2,3,66,447,28894,260.4139,309837,0,0,9,2013-04-12,2013-04-13,1,0,1,8236,1,1,1,2,50,656,15,1
13,2013-08-01 15:40:11,2,3,66,363,12346,254.9126,816121,0,0,9,2013-10-25,2013-10-27,2,0,1,25610,1,1,1,2,50,1138,43,1
14,2013-12-15 12:17:07,2,3,66,220,1437,128.0845,1039931,0,0,1,2013-12-16,2013-12-17,2,0,1,12009,1,1,1,2,50,680,91,1
15,2013-11-17 05:29:44,2,3,22,49,31037,NaN,278866,0,0,9,2013-11-18,2013-11-19,1,1,1,1398,3,1,1,3,141,1240,12,1
16,2013-06-18 19:14:40,2,3,66,448,4730,8675.9153,589135,0,0,9,2013-07-03,2013-07-09,1,0,1,9541,1,1,1,3,104,51,46,1
17,2013-08-20 14:06:09,34,3,205,135,36086,1214.3414,118373,0,0,9,2014-02-07,2014-02-08,2,2,1,12218,6,1,1,2,50,365,72,1
18,2013-12-13 10:38:10,2,3,66,143,49966,79.6140,111123,0,0,9,2013-12-13,2013-12-14,1,0,1,12554,5,1,1,2,50,936,43,1
19,2013-06-16 12:13:02,2,3,66,321,42936,NaN,549236,0,0,9,2013-07-06,2013-07-07,2,0,1,27675,1,1,1,2,50,1298,91,1
20,2013-10-01 20:38:55,2,3,66,314,4868,166.7964,13965,0,0,9,2013-10-20,2013-10-21,2,0,1,43062,6,1,1,2,50,876,26,1
21,2013-06-10 13:28:38,2,3,66,258,5336,NaN,844698,0,0,9,2013-07-16,2013-07-17,2,0,1,8238,1,1,1,6,31,155,5,1
22,2013-05-14 21:50:14,2,3,66,174,43471,336.3176,1102455,0,1,1,2013-06-25,2013-06-28,1,0,1,8272,1,1,1,2,50,659,2,1
23,2013-04-15 17:02:19,2,3,54,58,31207,NaN,389524,1,0,9,2013-05-02,2013-05-06,1,1,1,12189,6,1,1,2,50,637,16,1
24,2013-03-31 12:45:26,37,1,69,566,49966,NaN,343035,1,1,4,2013-12-05,2013-12-09,2,0,1,8267,1,1,1,2,50,675,70,1
25,2013-11-22 12:54:23,37,1,69,940,37151,NaN,124313,0,0,9,2013-12-07,2013-12-08,1,0,1,8253,1,1,1,6,70,19,33,1
26,2013-09-15 21:32:04,2,3,66,174,21177,1386.2867,1084612,0,0,9,2013-10-01,2013-10-03,1,0,1,12201,6,1,1,2,50,409,33,1
27,2013-07-17 22:41:53,2,3,205,354,48951,12.9402,751181,0,0,9,2013-07-18,2013-07-19,1,0,1,26022,6,1,1,2,198,397,21,1
28,2013-03-06 07:01:29,2,3,66,226,42300,657.4486,665735,1,0,9,2013-03-08,2013-03-10,4,0,2,28514,6,1,1,2,50,1457,70,1
29,2013-12-22 00:40:47,2,3,133,20,7325,NaN,773242,0,0,9,2014-01-16,2014-01-19,2,0,1,60805,6,1,1,2,50,685,91,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,2013-05-17 08:32:39,2,3,66,220,53780,5107.8688,947728,0,0,3,2013-08-23,2013-08-25,1,0,1,8746,1,1,1,6,105,29,2,1
99971,2013-05-29 13:07:34,2,3,66,462,1263,258.1304,723462,0,0,1,2013-07-24,2013-07-28,2,1,1,23380,6,1,1,2,50,651,13,1
99972,2013-12-27 13:32:02,11,3,205,354,25315,341.6178,166160,0,0,0,2014-01-12,2014-01-15,2,0,1,13395,4,1,1,2,50,675,5,1
99973,2013-09-19 09:49:51,2,3,66,442,30104,682.8902,487984,0,1,9,2013-12-06,2013-12-09,2,1,1,8844,1,1,1,2,50,672,73,1
99974,2013-06-02 17:05:38,2,3,66,220,35388,5166.6827,373156,1,0,4,2013-07-22,2013-07-25,3,1,2,8289,1,1,1,6,107,36,97,1
99975,2013-09-18 21:24:16,28,1,68,330,26637,NaN,207341,0,1,0,2013-10-16,2013-10-19,2,0,1,8808,1,1,1,6,169,28,62,1
99976,2013-08-21 18:41:07,2,3,66,348,4873,2593.3788,620552,1,0,9,2013-09-06,2013-09-08,2,0,1,12585,5,1,1,6,12,807,72,1
99977,2013-02-04 12:55:38,2,3,66,337,6009,2562.6059,718794,0,0,9,2013-02-25,2013-02-27,2,0,1,8279,1,1,1,2,50,1230,91,1
99978,2013-01-23 21:55:12,37,1,69,761,41949,NaN,767378,0,1,9,2013-04-05,2013-04-11,2,0,1,8250,1,1,1,2,50,628,88,1
99979,2013-08-09 14:20:08,2,3,66,337,47781,155.4133,358520,0,0,9,2013-08-12,2013-08-14,6,0,3,4170,3,1,1,2,50,546,91,1
99980,2013-02-26 09:41:58,34,3,205,354,43201,72.4618,778114,0,0,9,2013-03-01,2013-03-03,1,1,1,14875,1,1,1,2,198,750,28,1
99981,2013-09-04 19:30:36,11,3,205,135,36086,419.1129,1157546,0,0,9,2013-09-10,2013-09-12,2,0,1,8288,1,1,1,2,198,399,97,1
99982,2013-11-22 21:29:42,24,2,66,348,48862,4965.2791,3602,0,0,0,2014-03-12,2014-03-14,1,0,1,8859,1,1,1,2,50,212,70,1
99983,2013-04-16 06:49:04,2,3,66,348,2804,5780.6079,289602,0,1,9,2013-07-31,2013-08-02,0,0,1,503,1,1,1,3,0,798,8,1
99984,2013-08-27 14:47:41,2,3,66,462,14785,161.8453,636176,0,0,9,2013-08-30,2013-08-31,4,0,2,23414,6,1,1,2,50,619,50,1
99985,2013-02-12 17:37:56,2,3,66,174,12054,2600.8171,151394,0,0,9,2013-02-21,2013-02-24,1,0,1,12227,6,1,1,2,50,701,83,1
99986,2013-01-24 11:28:58,13,1,5,4,20369,NaN,728765,0,0,5,2013-05-29,2013-06-02,2,0,1,15253,5,1,1,6,127,1281,85,1
99987,2013-06-25 09:17:03,11,3,85,464,36497,NaN,633922,0,0,9,2013-07-05,2013-07-06,2,0,1,23507,6,1,1,6,70,19,29,1
99988,2013-03-31 06:27:57,2,3,66,311,25608,NaN,425880,0,0,9,2013-05-21,2013-05-24,1,0,1,8250,1,1,1,2,50,628,88,1
99989,2013-03-20 18:43:36,2,3,66,174,23034,2575.2900,288231,1,1,9,2013-04-29,2013-05-04,2,0,1,11373,1,1,1,4,128,1455,65,1
99990,2013-08-05 17:03:27,2,3,66,174,23706,2313.4344,641111,0,1,9,2013-08-07,2013-08-08,1,0,1,12225,6,1,1,2,50,701,49,1
99991,2013-04-18 05:02:25,11,3,205,385,46963,103.3830,437678,0,0,9,2013-05-02,2013-05-03,1,0,1,8270,1,1,1,2,198,390,21,1
99992,2013-10-27 12:57:37,24,2,3,50,5703,NaN,245304,1,0,1,2013-12-27,2013-12-28,1,0,1,12302,5,1,1,0,34,1396,36,1
99993,2013-05-25 05:32:11,2,3,71,0,16637,NaN,982144,0,0,0,2013-05-26,2013-05-27,1,0,1,12872,5,1,1,4,174,405,63,1
99994,2013-01-17 18:04:43,24,2,3,50,20442,NaN,466344,0,0,9,2013-02-22,2013-02-24,2,0,1,17595,1,1,2,3,162,1047,36,1
99995,2013-03-13 19:39:27,2,3,66,435,36345,153.1011,485129,0,0,9,2013-03-15,2013-03-17,2,0,1,11989,1,1,1,2,50,511,77,1
99996,2013-09-20 12:34:57,2,3,66,260,30136,341.5931,799052,0,0,3,2013-09-21,2013-09-22,2,0,2,25249,1,1,1,2,50,740,14,1
99997,2013-04-09 17:11:34,2,3,130,759,28771,NaN,1112895,0,0,9,2013-04-13,2013-04-14,1,0,1,22930,1,1,1,4,45,2076,82,1
99998,2013-07-16 01:03:51,2,3,198,208,54488,NaN,818847,0,0,9,2013-08-04,2013-08-09,2,0,2,8818,1,1,1,3,99,88,62,1
99999,2013-05-11 06:18:23,2,3,66,311,1178,786.8070,1171872,0,1,0,2013-07-03,2013-07-07,2,0,1,11335,1,1,1,4,136,196,84,1

In [112]:
train["hotel_cluster"]

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,num,ratio
0,2013-05-24 21:18:49,2,3,66,331,15294,1333.8240,553218,0,0,9,2013-05-28,2013-05-29,1,0,1,12696,5,1,1,4,8,122,15,1,1.0
1,2013-08-07 11:58:51,2,3,66,321,47535,342.4031,323881,0,0,9,2013-08-18,2013-08-22,2,0,1,12189,6,1,1,2,50,637,72,1,1.0
2,2013-07-02 11:54:21,2,3,66,348,53377,3126.4955,276361,0,0,9,2013-07-15,2013-07-23,1,0,1,2758,3,1,1,6,31,1916,58,1,1.0
3,2013-11-20 17:37:30,2,3,66,315,6849,247.3951,583620,1,0,9,2013-12-28,2013-12-30,4,2,2,8267,1,1,1,2,50,675,56,1,1.0
4,2013-06-11 05:18:21,2,3,66,348,6188,149.4963,493501,0,0,9,2013-06-11,2013-06-14,1,0,1,18741,1,1,1,2,50,462,42,1,1.0
5,2013-07-26 09:26:49,24,2,3,51,41641,NaN,1162102,0,0,9,2013-09-12,2013-09-18,4,0,2,669,3,1,1,2,50,212,0,1,1.0
6,2013-11-13 17:21:53,2,3,194,38,42328,NaN,579419,0,0,9,2013-12-31,2014-01-01,3,0,1,14908,1,1,1,3,88,1032,96,1,1.0
7,2013-02-13 10:53:04,2,3,66,356,34146,2726.9094,423168,0,0,9,2013-02-19,2013-02-28,1,0,1,11973,1,1,1,2,198,1228,18,1,1.0
8,2013-05-01 11:35:38,2,3,66,447,902,371.3049,187763,0,0,9,2013-05-11,2013-05-14,1,0,1,12194,6,1,1,2,50,656,95,1,1.0
9,2013-02-07 19:40:07,2,3,66,174,5938,856.9267,1016357,1,0,9,2013-02-27,2013-03-01,2,0,1,12004,1,1,1,2,50,480,91,1,1.0
10,2013-09-14 13:53:19,2,3,215,646,51733,813.3302,908932,0,1,1,2013-09-16,2013-09-19,1,0,1,8791,1,1,1,4,8,110,18,1,1.0
11,2013-04-25 11:00:27,28,1,68,10,26750,NaN,968636,0,0,9,2013-05-06,2013-05-07,1,1,1,8797,1,1,1,6,144,1450,11,1,1.0
12,2013-04-11 23:42:48,2,3,66,447,28894,260.4139,309837,0,0,9,2013-04-12,2013-04-13,1,0,1,8236,1,1,1,2,50,656,15,1,1.0
13,2013-08-01 15:40:11,2,3,66,363,12346,254.9126,816121,0,0,9,2013-10-25,2013-10-27,2,0,1,25610,1,1,1,2,50,1138,43,1,1.0
14,2013-12-15 12:17:07,2,3,66,220,1437,128.0845,1039931,0,0,1,2013-12-16,2013-12-17,2,0,1,12009,1,1,1,2,50,680,91,1,1.0
15,2013-11-17 05:29:44,2,3,22,49,31037,NaN,278866,0,0,9,2013-11-18,2013-11-19,1,1,1,1398,3,1,1,3,141,1240,12,1,1.0
16,2013-06-18 19:14:40,2,3,66,448,4730,8675.9153,589135,0,0,9,2013-07-03,2013-07-09,1,0,1,9541,1,1,1,3,104,51,46,1,1.0
17,2013-08-20 14:06:09,34,3,205,135,36086,1214.3414,118373,0,0,9,2014-02-07,2014-02-08,2,2,1,12218,6,1,1,2,50,365,72,1,1.0
18,2013-12-13 10:38:10,2,3,66,143,49966,79.6140,111123,0,0,9,2013-12-13,2013-12-14,1,0,1,12554,5,1,1,2,50,936,43,1,1.0
19,2013-06-16 12:13:02,2,3,66,321,42936,NaN,549236,0,0,9,2013-07-06,2013-07-07,2,0,1,27675,1,1,1,2,50,1298,91,1,1.0
20,2013-10-01 20:38:55,2,3,66,314,4868,166.7964,13965,0,0,9,2013-10-20,2013-10-21,2,0,1,43062,6,1,1,2,50,876,26,1,1.0
21,2013-06-10 13:28:38,2,3,66,258,5336,NaN,844698,0,0,9,2013-07-16,2013-07-17,2,0,1,8238,1,1,1,6,31,155,5,1,1.0
22,2013-05-14 21:50:14,2,3,66,174,43471,336.3176,1102455,0,1,1,2013-06-25,2013-06-28,1,0,1,8272,1,1,1,2,50,659,2,1,1.0
23,2013-04-15 17:02:19,2,3,54,58,31207,NaN,389524,1,0,9,2013-05-02,2013-05-06,1,1,1,12189,6,1,1,2,50,637,16,1,1.0
24,2013-03-31 12:45:26,37,1,69,566,49966,NaN,343035,1,1,4,2013-12-05,2013-12-09,2,0,1,8267,1,1,1,2,50,675,70,1,1.0
25,2013-11-22 12:54:23,37,1,69,940,37151,NaN,124313,0,0,9,2013-12-07,2013-12-08,1,0,1,8253,1,1,1,6,70,19,33,1,1.0
26,2013-09-15 21:32:04,2,3,66,174,21177,1386.2867,1084612,0,0,9,2013-10-01,2013-10-03,1,0,1,12201,6,1,1,2,50,409,33,1,1.0
27,2013-07-17 22:41:53,2,3,205,354,48951,12.9402,751181,0,0,9,2013-07-18,2013-07-19,1,0,1,26022,6,1,1,2,198,397,21,1,1.0
28,2013-03-06 07:01:29,2,3,66,226,42300,657.4486,665735,1,0,9,2013-03-08,2013-03-10,4,0,2,28514,6,1,1,2,50,1457,70,1,1.0
29,2013-12-22 00:40:47,2,3,133,20,7325,NaN,773242,0,0,9,2014-01-16,2014-01-19,2,0,1,60805,6,1,1,2,50,685,91,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,2013-05-17 08:32:39,2,3,66,220,53780,5107.8688,947728,0,0,3,2013-08-23,2013-08-25,1,0,1,8746,1,1,1,6,105,29,2,1,1.0
99971,2013-05-29 13:07:34,2,3,66,462,1263,258.1304,723462,0,0,1,2013-07-24,2013-07-28,2,1,1,23380,6,1,1,2,50,651,13,1,1.0
99972,2013-12-27 13:32:02,11,3,205,354,25315,341.6178,166160,0,0,0,2014-01-12,2014-01-15,2,0,1,13395,4,1,1,2,50,675,5,1,1.0
99973,2013-09-19 09:49:51,2,3,66,442,30104,682.8902,487984,0,1,9,2013-12-06,2013-12-09,2,1,1,8844,1,1,1,2,50,672,73,1,1.0
99974,2013-06-02 17:05:38,2,3,66,220,35388,5166.6827,373156,1,0,4,2013-07-22,2013-07-25,3,1,2,8289,1,1,1,6,107,36,97,1,1.0
99975,2013-09-18 21:24:16,28,1,68,330,26637,NaN,207341,0,1,0,2013-10-16,2013-10-19,2,0,1,8808,1,1,1,6,169,28,62,1,1.0
99976,2013-08-21 18:41:07,2,3,66,348,4873,2593.3788,620552,1,0,9,2013-09-06,2013-09-08,2,0,1,12585,5,1,1,6,12,807,72,1,1.0
99977,2013-02-04 12:55:38,2,3,66,337,6009,2562.6059,718794,0,0,9,2013-02-25,2013-02-27,2,0,1,8279,1,1,1,2,50,1230,91,1,1.0
99978,2013-01-23 21:55:12,37,1,69,761,41949,NaN,767378,0,1,9,2013-04-05,2013-04-11,2,0,1,8250,1,1,1,2,50,628,88,1,1.0
99979,2013-08-09 14:20:08,2,3,66,337,47781,155.4133,358520,0,0,9,2013-08-12,2013-08-14,6,0,3,4170,3,1,1,2,50,546,91,1,1.0
99980,2013-02-26 09:41:58,34,3,205,354,43201,72.4618,778114,0,0,9,2013-03-01,2013-03-03,1,1,1,14875,1,1,1,2,198,750,28,1,1.0
99981,2013-09-04 19:30:36,11,3,205,135,36086,419.1129,1157546,0,0,9,2013-09-10,2013-09-12,2,0,1,8288,1,1,1,2,198,399,97,1,1.0
99982,2013-11-22 21:29:42,24,2,66,348,48862,4965.2791,3602,0,0,0,2014-03-12,2014-03-14,1,0,1,8859,1,1,1,2,50,212,70,1,1.0
99983,2013-04-16 06:49:04,2,3,66,348,2804,5780.6079,289602,0,1,9,2013-07-31,2013-08-02,0,0,1,503,1,1,1,3,0,798,8,1,1.0
99984,2013-08-27 14:47:41,2,3,66,462,14785,161.8453,636176,0,0,9,2013-08-30,2013-08-31,4,0,2,23414,6,1,1,2,50,619,50,1,1.0
99985,2013-02-12 17:37:56,2,3,66,174,12054,2600.8171,151394,0,0,9,2013-02-21,2013-02-24,1,0,1,12227,6,1,1,2,50,701,83,1,1.0
99986,2013-01-24 11:28:58,13,1,5,4,20369,NaN,728765,0,0,5,2013-05-29,2013-06-02,2,0,1,15253,5,1,1,6,127,1281,85,1,1.0
99987,2013-06-25 09:17:03,11,3,85,464,36497,NaN,633922,0,0,9,2013-07-05,2013-07-06,2,0,1,23507,6,1,1,6,70,19,29,1,1.0
99988,2013-03-31 06:27:57,2,3,66,311,25608,NaN,425880,0,0,9,2013-05-21,2013-05-24,1,0,1,8250,1,1,1,2,50,628,88,1,1.0
99989,2013-03-20 18:43:36,2,3,66,174,23034,2575.2900,288231,1,1,9,2013-04-29,2013-05-04,2,0,1,11373,1,1,1,4,128,1455,65,1,1.0
99990,2013-08-05 17:03:27,2,3,66,174,23706,2313.4344,641111,0,1,9,2013-08-07,2013-08-08,1,0,1,12225,6,1,1,2,50,701,49,1,1.0
99991,2013-04-18 05:02:25,11,3,205,385,46963,103.3830,437678,0,0,9,2013-05-02,2013-05-03,1,0,1,8270,1,1,1,2,198,390,21,1,1.0
99992,2013-10-27 12:57:37,24,2,3,50,5703,NaN,245304,1,0,1,2013-12-27,2013-12-28,1,0,1,12302,5,1,1,0,34,1396,36,1,1.0
99993,2013-05-25 05:32:11,2,3,71,0,16637,NaN,982144,0,0,0,2013-05-26,2013-05-27,1,0,1,12872,5,1,1,4,174,405,63,1,1.0
99994,2013-01-17 18:04:43,24,2,3,50,20442,NaN,466344,0,0,9,2013-02-22,2013-02-24,2,0,1,17595,1,1,2,3,162,1047,36,1,0.5
99995,2013-03-13 19:39:27,2,3,66,435,36345,153.1011,485129,0,0,9,2013-03-15,2013-03-17,2,0,1,11989,1,1,1,2,50,511,77,1,1.0
99996,2013-09-20 12:34:57,2,3,66,260,30136,341.5931,799052,0,0,3,2013-09-21,2013-09-22,2,0,2,25249,1,1,1,2,50,740,14,1,1.0
99997,2013-04-09 17:11:34,2,3,130,759,28771,NaN,1112895,0,0,9,2013-04-13,2013-04-14,1,0,1,22930,1,1,1,4,45,2076,82,1,1.0
99998,2013-07-16 01:03:51,2,3,198,208,54488,NaN,818847,0,0,9,2013-08-04,2013-08-09,2,0,2,8818,1,1,1,3,99,88,62,1,1.0
99999,2013-05-11 06:18:23,2,3,66,311,1178,786.8070,1171872,0,1,0,2013-07-03,2013-07-07,2,0,1,11335,1,1,1,4,136,196,84,1,1.0

In [129]:
delete_list = ["posa_continent", "user_location_country", "user_location_region", "user_location_city", "is_mobile", "channel"]

In [130]:
train = train.drop(delete_list, axis=1)

In [119]:
train.sort_values("hotel_cluster")

,date_time,site_name,orig_destination_distance,user_id,is_package,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,num,ratio
54795,2013-02-06 13:29:43,2,2512.1343,415484,1,2013-02-15,2013-02-20,2,2,1,11204,3,1,1,2,50,636,0,1,1.0
29634,2013-01-16 21:46:45,2,87.7509,304783,0,2013-01-30,2013-01-31,2,1,1,8834,1,1,1,2,50,355,0,1,1.0
5380,2013-03-07 22:35:43,2,3375.2453,897097,1,2013-04-18,2013-04-23,2,0,1,12257,6,1,1,4,51,1509,0,1,1.0
75396,2013-03-15 23:24:23,2,104.0409,131819,0,2013-03-17,2013-03-18,1,0,1,9147,1,1,1,2,50,367,0,1,1.0
44151,2013-08-04 21:44:44,34,194.0870,511347,0,2013-08-15,2013-08-16,2,2,1,59849,4,1,1,2,198,377,0,1,1.0
44144,2013-09-14 07:05:23,11,4566.3243,548549,0,2013-09-27,2013-10-01,1,1,1,8855,1,1,1,2,50,213,0,1,1.0
911,2013-05-22 03:02:40,2,2758.2586,534936,0,2013-06-14,2013-06-19,2,0,1,669,3,1,1,2,50,212,0,1,1.0
95921,2013-04-15 16:17:51,2,2219.2280,315676,0,2013-04-20,2013-04-27,2,0,1,14127,4,1,1,2,50,682,0,1,1.0
31676,2013-01-07 14:44:36,11,1478.4271,143954,1,2013-02-17,2013-02-24,2,0,1,8791,1,1,1,4,8,110,0,1,1.0
34471,2013-01-18 10:36:13,2,790.0645,575552,0,2013-02-22,2013-02-24,4,1,2,8268,1,1,1,2,50,682,0,1,1.0
75521,2013-06-24 07:02:46,2,77.1319,37438,0,2013-06-28,2013-06-30,2,0,1,12227,6,1,1,2,50,701,0,1,1.0
53372,2013-05-05 16:20:58,2,979.1403,563432,0,2013-06-28,2013-06-29,2,0,1,28510,6,1,1,2,50,1457,0,1,1.0
75176,2013-06-08 15:18:44,2,NaN,533436,0,2013-06-20,2013-06-22,3,2,2,8834,1,1,1,2,50,355,0,1,1.0
75590,2013-11-22 20:18:35,2,NaN,575654,1,2013-11-26,2013-12-02,2,0,1,8814,1,1,1,4,51,197,0,1,1.0
75632,2013-06-15 13:55:09,2,51.3456,1035203,0,2013-07-19,2013-07-22,2,0,1,8834,1,1,1,2,50,355,0,1,1.0
12441,2013-09-15 07:41:18,2,2691.8069,970236,0,2013-10-23,2013-10-27,2,1,1,12548,5,1,1,2,50,212,0,1,1.0
95811,2013-11-28 03:14:31,2,NaN,752825,0,2013-12-24,2013-12-25,3,0,1,8834,1,1,1,2,50,355,0,1,1.0
57554,2013-11-07 23:41:17,2,2495.8534,576955,1,2013-11-23,2013-11-27,2,0,1,8856,1,1,1,2,50,636,0,1,1.0
43886,2013-07-30 15:43:37,2,196.2518,400825,0,2013-08-09,2013-08-11,1,0,1,8802,1,1,1,2,50,503,0,1,1.0
939,2013-11-25 17:19:20,11,4615.3552,362596,0,2014-01-30,2014-02-01,2,0,1,669,3,1,1,2,50,212,0,1,1.0
19443,2013-12-14 16:15:49,2,NaN,1075790,1,2014-02-16,2014-02-22,1,0,1,8814,1,1,1,4,51,197,0,1,1.0
5242,2013-05-27 02:10:41,24,NaN,12281,0,2013-05-29,2013-06-01,2,0,1,669,3,1,1,2,50,212,0,1,1.0
5236,2013-05-05 06:10:14,2,198.2044,1091589,0,2013-05-05,2013-05-07,1,0,1,8268,1,1,1,2,50,682,0,1,1.0
950,2013-01-15 14:17:58,2,400.6928,1074658,0,2013-01-17,2013-01-20,1,0,1,6336,3,1,1,2,50,682,0,1,1.0
43803,2013-08-02 13:44:13,24,NaN,1168622,1,2013-09-01,2013-09-05,2,0,1,8859,1,1,1,2,50,212,0,1,1.0
75602,2013-04-26 11:22:54,2,NaN,390019,1,2013-05-18,2013-05-26,1,0,1,11334,1,1,1,4,96,201,0,1,1.0
75145,2013-05-25 11:53:10,24,NaN,1163566,0,2013-12-25,2013-12-31,2,0,1,669,3,1,1,2,50,212,0,1,1.0
27845,2013-02-09 06:02:08,2,404.9396,334518,0,2013-03-16,2013-03-18,3,1,1,8810,1,1,1,4,8,1532,0,1,1.0
57699,2013-05-17 12:04:53,2,NaN,393757,0,2013-05-17,2013-05-20,1,0,1,12654,5,1,1,2,50,682,0,1,1.0
73880,2013-10-29 18:02:16,2,2011.7459,78050,1,2014-05-01,2014-05-07,2,2,1,8791,1,1,1,4,8,110,0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97045,2013-01-17 09:35:21,2,1040.2139,366747,0,2013-01-25,2013-01-26,2,0,1,26755,6,1,1,2,50,414,99,1,1.0
20544,2013-04-16 17:12:30,37,NaN,1042083,0,2014-03-14,2014-03-16,6,0,3,8746,1,1,1,6,105,29,99,1,1.0
19939,2013-04-02 13:06:18,2,NaN,415411,0,2013-10-25,2013-10-28,1,0,1,8217,1,1,1,0,34,43,99,1,1.0
81823,2013-10-29 14:47:33,2,430.3720,1183114,0,2013-10-30,2013-10-31,2,0,1,8272,1,1,1,2,50,659,99,1,1.0
57932,2013-01-29 20:32:33,2,65.9156,111549,0,2013-02-01,2013-02-02,2,0,1,11812,1,1,1,2,50,538,99,1,1.0
59233,2013-10-18 18:24:48,24,NaN,13294,0,2013-10-27,2013-10-29,4,1,3,8746,1,1,1,6,105,29,99,1,1.0
94712,2013-05-14 16:14:00,2,1767.1432,743791,1,2013-08-02,2013-08-09,4,1,2,11735,1,1,1,4,128,1559,99,1,1.0
73539,2013-02-28 08:26:15,2,725.5058,701131,0,2013-03-29,2013-03-30,1,1,1,12615,5,1,1,2,50,676,99,1,1.0
57913,2013-03-28 17:15:51,23,215.6392,619126,0,2013-03-30,2013-03-31,1,0,1,21787,6,1,1,6,105,29,99,1,1.0
93421,2013-01-07 19:58:32,2,4846.1027,101574,1,2013-05-04,2013-05-15,2,0,1,8746,1,1,1,6,105,29,99,1,1.0
73482,2013-12-18 21:23:35,2,6526.3498,401317,0,2014-01-27,2014-01-30,2,0,1,8217,1,1,1,0,34,43,99,1,1.0
44077,2013-03-01 04:03:02,11,NaN,129571,0,2013-03-01,2013-03-02,1,0,1,17660,5,1,1,6,77,2,99,1,1.0
96998,2013-03-17 15:27:08,2,NaN,396243,0,2013-08-03,2013-08-04,2,1,1,8217,1,1,1,0,34,43,99,1,1.0
55289,2013-07-08 12:20:11,11,63.1508,873846,0,2013-07-15,2013-07-17,2,0,1,26428,6,1,1,2,198,402,99,1,1.0
48500,2013-08-25 11:48:45,37,NaN,738641,0,2013-08-26,2013-08-27,2,0,1,20769,6,1,1,6,77,222,99,1,1.0
3871,2013-07-28 07:52:02,2,2.9123,788912,0,2013-07-28,2013-07-29,2,1,1,8277,1,1,1,2,50,412,99,1,1.0
35755,2013-04-16 11:16:26,2,5389.6781,1170330,0,2013-05-27,2013-06-05,2,0,1,8785,1,1,1,6,105,809,99,1,1.0
86508,2013-07-06 14:37:08,23,634.9490,1054857,1,2013-07-15,2013-07-19,2,0,1,8675,6,1,1,6,77,2,99,1,1.0
52366,2013-02-16 11:58:48,11,NaN,508706,1,2013-02-23,2013-03-02,2,0,1,8739,1,1,1,6,144,4,99,1,1.0
81929,2013-02-06 08:41:03,11,7805.3829,428222,0,2013-03-25,2013-03-26,1,1,1,3171,3,1,1,3,171,61,99,1,1.0
6759,2013-03-11 17:40:57,24,NaN,1162049,0,2013-04-06,2013-04-07,2,0,1,20209,6,1,1,6,105,22,99,1,1.0
48476,2013-09-08 21:31:22,17,NaN,239870,0,2013-10-18,2013-10-20,1,2,1,6843,1,1,1,2,198,383,99,1,1.0
46217,2013-12-10 09:16:14,2,NaN,197155,0,2014-02-25,2014-02-26,2,0,1,8251,1,1,1,4,93,2086,99,1,1.0
52390,2013-04-26 17:36:54,10,6040.7955,936228,1,2013-07-11,2013-07-13,2,2,1,8785,1,1,1,6,105,35,99,1,1.0
55267,2013-05-09 16:20:17,2,399.3892,360202,0,2013-06-01,2013-06-02,1,0,1,12235,6,1,1,2,50,676,99,1,1.0
6121,2013-12-06 10:04:38,2,1020.1701,517903,0,2013-12-15,2013-12-16,2,0,1,44045,3,1,2,2,50,701,99,1,0.5
67133,2013-10-23 12:43:34,8,2430.5220,749344,1,2014-06-09,2014-06-14,2,0,1,8819,1,1,1,3,168,1242,99,1,1.0
94709,2013-08-23 12:54:51,2,5976.5999,78210,1,2013-10-10,2013-10-13,1,0,1,14222,4,1,1,6,144,24,99,1,1.0
81930,2013-06-11 21:11:15,37,NaN,1085640,0,2013-07-12,2013-07-14,2,0,1,18078,1,1,1,6,204,1153,99,1,1.0
63874,2013-07-29 14:48:54,8,7243.4346,711847,0,2013-07-30,2013-08-02,2,1,1,8242,1,1,1,3,171,61,99,1,1.0

In [120]:
train.sort_values("user_id")

,date_time,site_name,orig_destination_distance,user_id,is_package,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,num,ratio
28506,2013-03-28 12:59:33,2,6089.6198,37,1,2013-07-05,2013-07-11,3,0,1,11816,1,1,1,6,77,1482,30,1,1.0
26193,2013-12-23 01:03:25,2,NaN,301,1,2014-01-20,2014-01-24,2,0,1,8791,1,1,1,4,8,110,66,1,1.0
73039,2013-03-28 08:25:34,2,386.0971,591,1,2013-03-30,2013-04-02,1,0,1,8250,1,1,1,2,50,628,88,1,1.0
16083,2013-09-03 11:00:35,2,374.7914,654,0,2013-09-11,2013-09-12,1,0,1,8279,1,1,1,2,50,1230,56,1,1.0
25595,2013-04-02 10:37:54,34,82.2269,706,0,2013-04-13,2013-04-14,1,0,1,44483,1,1,1,2,198,791,48,1,1.0
55076,2013-12-26 06:07:20,34,366.2891,727,0,2014-01-01,2014-01-03,2,4,1,8291,1,1,1,2,50,191,18,1,1.0
66780,2013-07-23 08:19:55,2,224.5950,743,0,2013-07-25,2013-07-26,2,0,1,1194,3,1,1,4,8,123,43,1,1.0
84493,2013-06-28 11:50:54,2,348.0917,752,0,2013-07-02,2013-07-03,2,1,1,12215,6,1,1,2,50,365,10,1,1.0
19716,2013-05-22 16:07:20,2,584.2942,763,0,2013-07-11,2013-07-14,2,0,1,3072,3,1,1,2,50,366,4,1,1.0
82180,2013-10-02 14:45:35,2,152.6103,764,0,2013-11-22,2013-11-24,2,0,1,328,1,1,1,2,50,926,32,1,1.0
63413,2013-08-05 18:17:27,2,495.3673,854,0,2013-08-08,2013-08-09,1,1,1,12672,5,1,1,2,50,538,48,1,1.0
97443,2013-11-09 12:05:48,2,619.2899,854,1,2013-11-20,2013-11-21,1,0,1,8235,1,1,1,2,50,406,99,1,1.0
87971,2013-07-19 12:23:05,2,5.4921,857,0,2013-07-20,2013-07-23,1,0,1,8273,1,1,1,2,50,660,28,1,1.0
51051,2013-09-24 18:28:45,34,991.3654,917,1,2013-11-14,2013-11-18,2,0,1,8250,1,1,1,2,50,628,54,1,1.0
36984,2013-08-22 18:48:58,34,180.2421,939,0,2013-08-30,2013-09-02,2,0,1,6205,3,1,1,2,198,1627,7,1,1.0
95866,2013-07-04 13:23:44,23,264.5345,1004,0,2013-07-13,2013-07-17,2,2,1,23999,6,1,1,6,105,1826,89,1,1.0
4579,2013-08-30 18:29:04,24,NaN,1029,0,2013-08-31,2013-09-01,2,0,1,41886,1,1,1,3,106,255,29,1,1.0
74451,2013-01-18 10:46:11,37,NaN,1032,0,2013-02-05,2013-02-06,1,0,1,17662,5,1,1,6,68,275,49,1,1.0
60546,2013-05-31 17:01:15,37,NaN,1032,0,2013-06-11,2013-06-12,1,0,1,12926,5,1,1,6,15,38,42,1,1.0
94192,2013-11-21 13:48:37,8,3770.7445,1034,0,2013-12-22,2013-12-27,1,0,1,18774,1,1,1,3,99,1239,64,1,1.0
72537,2013-12-18 14:19:24,37,NaN,1071,1,2014-01-22,2014-01-27,2,0,1,44214,8,1,1,6,12,807,48,1,1.0
32223,2013-11-01 17:53:41,24,NaN,1113,0,2013-11-23,2013-11-24,2,1,1,23048,1,1,1,3,48,152,58,1,1.0
15552,2013-09-04 10:10:57,2,NaN,1114,1,2013-09-11,2013-09-15,1,0,1,22648,6,1,1,4,13,1531,6,1,1.0
73334,2013-06-13 22:30:10,2,NaN,1114,1,2013-08-22,2013-08-25,2,0,1,11634,1,1,1,4,174,405,65,1,1.0
36943,2013-09-11 04:46:14,24,161.2306,1122,0,2013-09-13,2013-09-14,1,1,1,8267,1,1,1,2,50,675,70,1,1.0
39674,2013-06-06 08:07:35,2,916.6800,1123,0,2013-08-06,2013-08-08,2,0,1,8230,1,1,1,2,50,637,2,1,1.0
63891,2013-09-04 10:12:51,2,615.7224,1123,0,2013-10-18,2013-10-20,3,0,2,11998,1,1,1,2,50,670,48,1,1.0
69413,2013-06-10 11:44:03,2,96.0030,1123,0,2013-07-15,2013-07-17,2,0,1,25009,1,1,1,2,50,1639,96,1,1.0
67013,2013-07-22 08:14:18,17,NaN,1143,0,2013-08-22,2013-08-26,1,0,1,12697,5,1,1,4,137,2092,85,1,1.0
46328,2013-05-08 21:26:13,17,NaN,1143,0,2013-05-16,2013-05-17,1,0,1,8745,1,1,1,6,204,27,35,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40576,2013-02-09 22:49:34,2,159.4225,1198062,0,2013-03-06,2013-03-08,2,0,1,9147,1,1,1,2,50,367,41,1,1.0
68890,2013-04-01 18:35:32,2,NaN,1198078,1,2013-06-13,2013-06-20,2,0,1,11334,1,1,1,4,96,201,65,1,1.0
29307,2013-08-19 08:47:56,2,393.1039,1198080,0,2013-08-21,2013-08-22,2,0,1,8231,1,1,1,2,50,638,50,1,1.0
43345,2013-08-29 19:15:28,2,2432.9039,1198106,0,2013-09-29,2013-10-01,1,0,1,12264,6,1,1,2,50,368,55,1,1.0
2718,2013-04-22 03:31:50,2,8459.3286,1198112,0,2013-06-21,2013-06-22,1,0,1,4992,1,1,1,3,110,72,9,1,1.0
78434,2013-04-18 20:59:36,2,450.5088,1198124,0,2013-05-03,2013-05-05,1,0,1,8278,1,1,1,2,50,368,18,1,1.0
51116,2013-10-10 23:57:57,34,8091.7551,1198157,0,2014-01-05,2014-01-09,2,0,1,20113,6,1,1,3,5,1701,36,1,1.0
77797,2013-02-11 19:05:26,2,5714.0103,1198203,1,2013-05-04,2013-05-08,2,0,1,8746,1,1,1,6,105,29,38,1,1.0
35646,2013-03-20 15:35:47,2,1495.4988,1198204,0,2013-04-28,2013-05-03,2,0,1,8791,1,1,1,4,8,110,89,1,1.0
651,2013-01-22 04:55:36,2,942.3633,1198209,0,2013-01-22,2013-01-24,1,0,1,14067,4,1,1,2,50,409,48,1,1.0
32427,2013-10-28 08:54:58,2,NaN,1198239,0,2014-04-13,2014-04-14,3,1,2,23693,1,1,1,2,50,1634,7,1,1.0
49170,2013-10-29 02:00:45,2,NaN,1198239,0,2014-04-16,2014-04-17,3,1,2,24822,1,1,1,2,50,450,13,1,1.0
66409,2013-02-03 23:16:23,2,NaN,1198239,0,2013-02-13,2013-02-15,1,1,2,7635,3,1,1,2,50,675,68,1,1.0
43934,2013-01-30 20:42:45,2,64.5233,1198242,0,2013-02-01,2013-02-04,2,0,1,26563,6,1,1,2,50,488,47,1,1.0
98478,2013-09-11 07:24:45,2,2359.2122,1198324,0,2013-09-30,2013-10-03,3,1,3,24695,6,1,1,2,50,1241,91,1,1.0
90332,2013-07-12 11:27:42,2,203.3666,1198324,0,2013-07-16,2013-07-19,1,0,1,12233,6,1,1,2,50,675,98,1,1.0
37791,2013-08-21 10:46:00,34,277.7237,1198331,0,2013-09-02,2013-09-04,2,0,1,27905,6,1,1,2,198,387,33,1,1.0
23636,2013-11-27 15:24:01,34,1158.0028,1198332,1,2013-12-17,2014-01-01,2,0,1,8278,1,1,1,2,50,368,59,1,1.0
93833,2013-05-13 06:14:13,34,4987.3785,1198332,0,2013-06-08,2013-06-10,2,0,1,25408,6,1,1,6,15,1534,62,1,1.0
34135,2013-03-23 13:52:53,34,4827.4266,1198332,0,2013-06-19,2013-06-22,2,1,1,8213,1,1,1,6,68,290,82,1,1.0
34288,2013-03-23 13:48:34,34,4827.4266,1198332,0,2013-06-18,2013-06-19,2,1,1,8213,1,1,1,6,68,290,82,1,1.0
21105,2013-08-11 11:37:16,2,13.2242,1198387,0,2013-08-19,2013-08-20,2,0,1,11357,1,1,1,2,50,674,51,1,1.0
90384,2013-03-19 15:17:42,2,2150.7187,1198480,1,2013-03-31,2013-04-03,1,0,1,8250,1,1,1,2,50,628,1,1,1.0
77393,2013-02-13 08:59:34,11,649.4155,1198557,0,2013-02-26,2013-02-27,2,0,1,8283,1,1,1,2,50,414,59,1,1.0
49009,2013-03-09 17:35:01,11,1131.4182,1198557,0,2013-03-14,2013-03-15,2,0,1,11907,1,1,1,2,50,714,6,1,1.0
56973,2013-04-30 12:03:23,34,380.7127,1198612,0,2013-05-05,2013-05-08,2,0,1,1901,1,1,1,2,198,401,5,1,1.0
90797,2013-06-10 07:50:46,2,944.9125,1198626,1,2013-07-27,2013-07-29,2,0,1,8230,1,1,1,2,50,637,95,1,1.0
73335,2013-09-07 12:23:35,2,289.1806,1198703,0,2013-09-14,2013-09-15,2,0,1,11907,1,1,1,2,50,714,15,1,1.0
40879,2013-03-31 18:34:13,2,120.1909,1198706,0,2013-05-07,2013-05-08,2,1,1,8230,1,1,1,2,50,637,50,1,1.0
1857,2013-03-27 20:44:04,2,NaN,1198720,1,2013-04-17,2013-04-24,2,2,1,8268,1,1,1,2,50,682,71,1,1.0

In [143]:
train.groupby(['srch_destination_id',
                         'hotel_cluster'])['is_booking'].agg(['sum','count']).sort_values("count", ascending=False)

                                     sum   count
srch_destination_id hotel_cluster
8250                1              26519  309484
8791                65              5671  177405
8250                45             13760  177232
8267                56             11444  167721
8250                79             12796  167188
8267                70              6861  125801
11439               65              4145  124353
8250                24              9402  122226
12206               1               9719  121597
8250                54              7949  108178
8267                98              6574  103081
                    41              5871  101805
8250                88              6603   98853
11439               52              2293   91339
8791                66              3298   88489
11938               65              2153   82203
8268                71              3078   82126
11439               87              1382   71089
8267                69              3335   68687
8791                52              1957   67955
21222               27               767   66090
12206               79              4336   61213
8791                87              1479   60064
8267                55              3628   59755
8250                51              3982   59368
12206               45              3605   55509
8855                26              1906   51716
8268                34              2916   50866
8250                71              2331   50337
7635                56              3426   45015
...                                  ...     ...
24230               3                  0       1
                    30                 0       1
                    81                 0       1
24232               85                 0       1
24216               78                 0       1
24214               35                 0       1
45040               7                  0       1
24213               86                 0       1
24203               62                 0       1
24204               14                 0       1
                    20                 0       1
45043               38                 0       1
                    29                 0       1
45042               89                 0       1
                    60                 0       1
24208               60                 0       1
                    86                 0       1
24209               3                  0       1
                    30                 0       1
                    85                 0       1
                    89                 0       1
24210               36                 0       1
24212               60                 0       1
24213               38                 0       1
                    78                 0       1
                    82                 0       1
45040               81                 0       1
                    68                 0       1
                    48                 0       1
65107               76                 0       1

[396024 rows x 2 columns]

In [142]:
train[train["hotel_cluster"] == 3].sort_values("is_booking")

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
741,2,3,66,143,6959,4095.5567,3994,0,0,9,2015-03-11,2015-03-15,2,0,1,267,3,0,1,6,70,1926,3
24823601,24,2,231,69,14045,NaN,208960,0,0,2,2014-07-26,2014-07-28,1,0,1,19940,6,0,1,3,99,88,3
24823613,24,2,231,80,26073,NaN,208960,0,0,1,2014-08-11,2014-08-12,2,0,1,8220,1,0,1,3,182,46,3
24823928,2,3,66,149,47654,1144.0459,209937,0,0,9,2014-07-28,2014-07-31,1,0,1,12615,5,0,2,2,50,676,3
24823929,2,3,66,149,47654,1144.0459,209937,0,0,9,2014-07-28,2014-07-31,2,0,1,12615,5,0,1,2,50,676,3
24823946,2,3,66,348,5757,195.8081,209937,0,0,9,2014-07-31,2014-08-03,1,0,1,7748,3,0,1,2,50,676,3
24824338,2,3,66,254,7813,1706.0148,211375,0,1,9,2014-02-28,2014-03-07,1,2,2,11942,1,0,1,4,193,99,3
24824357,2,3,66,337,16209,NaN,211438,0,0,9,2013-06-26,2013-06-29,2,2,1,12281,6,0,1,2,50,191,3
24824360,2,3,66,337,16209,NaN,211438,0,0,9,2013-06-26,2013-06-29,2,2,1,8291,1,0,1,2,50,191,3
24824423,2,3,66,442,3715,5703.8706,211697,0,0,3,2015-08-22,2015-08-25,2,0,1,18077,1,0,1,6,15,150,3
24824928,2,3,238,134,52229,NaN,211817,0,0,9,2013-10-26,2013-10-31,1,0,1,23479,6,0,1,6,70,19,3
24823598,24,2,231,68,42296,NaN,208960,0,0,9,2014-04-20,2014-04-21,2,0,2,19940,6,0,1,3,99,88,3
24825307,2,3,66,331,38255,620.0505,212190,0,1,9,2014-06-25,2014-06-26,1,0,1,42630,3,0,2,2,50,637,3
24825689,24,2,3,64,3169,NaN,214808,0,0,0,2013-12-11,2013-12-14,1,1,1,45631,6,0,5,2,50,675,3
24825872,2,3,66,258,2592,147.1080,215512,0,1,2,2014-12-23,2014-12-26,2,3,1,35686,4,0,1,2,50,617,3
24825873,2,3,66,258,2592,147.1080,215512,0,1,2,2014-12-23,2014-12-25,2,3,1,35686,4,0,1,2,50,617,3
24825874,2,3,66,258,2592,147.1080,215512,0,1,2,2014-12-26,2014-12-28,2,3,1,35686,4,0,1,2,50,617,3
24825875,2,3,66,258,2592,147.1080,215512,0,1,2,2014-12-28,2014-12-29,2,3,1,35686,4,0,1,2,50,617,3
24825876,2,3,66,258,2592,147.1080,215512,0,1,2,2014-12-30,2014-12-31,2,3,1,35686,4,0,1,2,50,617,3
24825877,2,3,66,258,2592,147.1080,215512,0,1,2,2014-12-30,2015-01-01,2,3,1,35686,4,0,2,2,50,617,3
24826053,2,3,231,81,24964,NaN,216556,0,0,9,2014-04-26,2014-04-29,2,0,1,8744,1,0,1,3,106,108,3
24826168,2,3,231,81,33174,NaN,216556,0,0,9,2014-09-02,2014-09-03,2,0,1,18774,1,0,1,3,99,1239,3
24826393,8,4,77,824,49178,9400.2761,217926,0,0,9,2014-04-14,2014-04-15,2,0,1,33425,6,0,2,4,196,2001,3
24825417,2,3,66,459,52284,1817.3876,213010,0,1,9,2013-03-23,2013-03-26,1,0,1,11439,1,0,1,4,163,1503,3
24823597,24,2,231,68,42296,NaN,208960,0,0,9,2014-04-20,2014-04-21,2,0,2,19940,6,0,1,3,99,88,3
24823587,24,2,231,68,42296,NaN,208960,0,0,1,2014-04-27,2014-04-28,2,0,2,19940,6,0,1,3,99,88,3
24823568,24,2,231,68,42296,NaN,208960,0,0,0,2013-07-20,2013-07-21,2,0,1,1495,3,0,1,3,99,88,3
24818847,2,3,66,346,29217,0.6762,195971,0,0,0,2013-08-23,2013-08-24,2,3,1,11835,1,0,1,2,50,633,3
24819268,2,3,66,254,6594,123.9670,196441,0,0,9,2013-08-05,2013-08-06,2,0,1,11320,1,0,2,2,50,1061,3
24819386,11,3,205,385,40037,NaN,196845,0,1,0,2013-03-14,2013-03-15,2,0,1,8811,1,0,1,2,198,1626,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20958896,2,3,66,363,12346,5099.5241,659272,0,0,5,2013-09-20,2013-09-22,2,0,1,8245,1,1,1,6,22,245,3
25389408,30,4,195,597,51774,NaN,979317,0,0,5,2013-07-16,2013-07-21,5,1,1,11815,1,1,1,3,5,1701,3
34745425,37,1,69,844,14508,NaN,1185509,0,1,9,2013-09-09,2013-09-12,4,0,2,41137,1,1,1,6,127,141,3
2802989,2,3,66,174,39877,5482.6666,33693,0,0,1,2013-12-28,2013-12-29,1,0,1,19557,6,1,1,3,106,107,3
34742961,24,2,231,68,42296,NaN,1175236,0,0,4,2013-06-23,2013-06-24,2,0,1,19969,6,1,1,3,99,88,3
34742952,24,2,3,50,5703,NaN,1175236,0,0,4,2013-06-19,2013-06-20,1,0,1,19969,6,1,1,3,99,88,3
2808032,2,3,46,157,34868,2.6939,47848,0,0,9,2013-10-18,2013-10-20,2,0,1,8739,1,1,1,6,144,4,3
7485979,2,3,66,226,42300,540.9206,310766,0,0,9,2013-12-05,2013-12-10,1,0,1,12281,6,1,1,2,50,191,3
34742932,24,2,3,50,5703,NaN,1175236,0,0,4,2013-04-05,2013-04-06,2,0,1,19969,6,1,1,3,99,88,3
11723731,11,3,205,354,45297,236.8215,656424,0,0,0,2013-09-19,2013-09-20,2,1,1,8270,1,1,1,2,198,390,3
2802991,2,3,66,174,39877,5482.6666,33693,0,0,1,2014-01-04,2014-01-05,1,0,1,19557,6,1,1,3,106,107,3
29787213,2,3,231,81,33174,NaN,64625,0,0,9,2013-06-11,2013-06-12,2,0,1,19287,6,1,1,3,99,1034,3
15877015,2,3,66,462,14703,879.9955,193470,0,0,9,2013-03-20,2013-03-24,2,0,1,9147,1,1,1,2,50,367,3
20952757,2,3,66,174,26232,89.2963,636972,0,0,9,2014-05-23,2014-05-25,1,0,1,8834,1,1,1,2,50,355,3
11712720,24,2,3,45,53111,NaN,622814,0,0,0,2015-01-11,2015-01-12,1,0,1,11303,3,1,1,3,106,1703,3
7497085,2,3,66,346,29217,245.1896,343157,0,0,1,2013-01-21,2013-01-22,2,0,1,10562,3,1,1,2,50,631,3
20946703,2,3,66,442,8166,NaN,615825,0,0,9,2014-03-29,2014-03-30,2,0,1,55386,4,1,1,2,50,634,3
34752233,24,2,3,50,5703,NaN,2361,1,0,9,2013-03-22,2013-03-23,1,0,1,19557,6,1,1,3,106,107,3
15881054,2,3,66,174,18870,12.8024,205829,0,0,3,2013-08-03,2013-08-04,2,0,1,9147,1,1,1,2,50,367,3
7495442,2,3,93,71,15362,NaN,336047,0,0,9,2013-05-28,2013-05-29,1,0,1,23765,1,1,1,6,22,1439,3
34746656,13,1,46,336,13709,4758.5123,1186750,0,0,9,2014-01-03,2014-01-04,2,0,1,5769,3,1,1,2,50,599,3
2794598,2,3,66,348,47997,3915.3585,6311,0,0,9,2014-11-30,2014-12-01,2,0,1,22867,6,1,1,4,93,2088,3
25395578,2,3,66,220,11724,279.2346,993384,0,0,2,2014-04-25,2014-04-27,2,0,1,19523,1,1,1,2,50,515,3
34748744,8,4,77,824,15015,10147.4378,1190759,0,0,5,2013-02-02,2013-02-05,2,1,1,8785,1,1,1,6,105,35,3
7493226,2,3,66,348,48862,2412.4147,331093,0,1,9,2014-08-23,2014-09-01,2,0,1,8824,1,1,1,4,8,118,3
29795606,34,3,205,135,27655,5556.3096,84577,1,0,9,2013-08-16,2013-08-26,2,1,1,431,1,1,1,5,73,1712,3
11714477,2,3,225,0,42652,NaN,627910,1,1,0,2014-10-05,2014-10-11,2,1,1,20460,1,1,1,4,13,1531,3
2797707,2,3,40,858,43588,NaN,16700,0,0,2,2013-05-06,2013-05-07,2,0,1,3744,1,1,1,2,50,1630,3
11713633,37,1,69,772,2058,NaN,624631,0,1,0,2014-04-12,2014-04-19,2,0,1,18787,1,1,1,6,105,1869,3
14034711,2,3,66,462,8770,2322.1383,1073053,0,0,0,2013-11-25,2013-11-30,2,1,1,28566,6,1,1,2,50,855,3

In [139]:
train[train["hotel_cluster"] == 44]

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
730,25,2,23,48,4924,NaN,3972,1,0,1,2014-11-07,2014-11-10,2,0,1,33452,1,0,1,3,99,1308,44
734,2,3,66,143,6959,294.6852,3994,0,0,3,2014-09-25,2014-09-28,2,0,1,26495,1,0,1,2,50,454,44
880,33,2,194,38,42328,NaN,5776,0,0,2,2014-10-04,2014-10-06,2,0,1,1657,3,0,1,3,151,1189,44
1025,11,3,205,354,25315,1933.3408,6450,0,0,5,2015-03-02,2015-03-09,2,0,1,1442,3,0,2,4,125,177,44
1272,2,3,66,314,46561,928.2655,7041,1,1,9,2014-12-10,2014-12-10,1,0,1,27947,6,0,1,4,128,1400,44
1352,2,3,66,174,17468,2400.5667,7283,0,1,2,2014-11-16,2014-11-20,2,0,1,21059,6,0,1,4,8,110,44
1379,2,3,66,174,27251,2405.8380,7283,0,1,9,2014-11-17,2014-11-22,2,0,1,8791,1,0,1,4,8,110,44
1386,2,3,66,174,42586,2392.1498,7283,0,1,9,2014-11-18,2014-11-22,2,0,1,8791,1,0,1,4,8,110,44
1481,2,3,66,174,21356,5854.3395,7523,1,1,9,2014-11-06,2014-11-09,4,0,1,41121,1,0,2,4,124,1943,44
1676,2,3,66,143,23750,1923.7573,7783,0,1,9,2013-09-13,2013-09-21,2,0,1,9171,1,0,1,4,118,200,44
1728,2,3,66,226,24208,1610.6232,7783,0,1,2,2014-10-24,2014-10-28,1,0,1,9600,1,0,1,4,32,1600,44
1817,11,3,205,354,41495,5726.5831,7899,0,0,9,2015-05-16,2015-05-17,3,0,1,12397,5,0,1,5,100,1446,44
2693,2,3,85,464,2363,NaN,14099,0,0,9,2014-07-02,2014-07-05,2,0,1,8293,1,0,1,6,46,39,44
2694,2,3,85,464,2363,NaN,14099,0,0,9,2014-07-02,2014-07-05,1,0,1,8293,1,0,2,6,46,39,44
2695,2,3,85,464,2363,NaN,14099,0,0,9,2014-07-02,2014-07-05,1,0,1,8293,1,1,1,6,46,39,44
3406,2,3,66,356,33823,2221.3664,18795,0,1,3,2014-03-22,2014-03-28,1,3,1,3739,3,0,2,2,50,1628,44
3523,24,2,3,50,5703,NaN,18976,1,1,9,2013-11-24,2013-11-28,3,0,1,11815,1,0,1,3,5,1701,44
3532,24,2,3,50,5703,NaN,18976,1,1,9,2013-11-24,2013-11-28,3,0,1,11815,1,0,3,3,5,1701,44
3534,24,2,3,44,6691,NaN,18976,0,0,3,2013-11-24,2013-11-28,2,0,1,11815,1,0,1,3,5,1701,44
3535,24,2,3,44,6691,NaN,18976,0,1,3,2013-11-24,2013-11-28,2,0,1,11815,1,1,1,3,5,1701,44
3621,17,1,133,31,4066,NaN,21245,0,1,0,2014-05-23,2014-05-25,2,0,1,24058,6,0,1,0,153,181,44
4017,2,3,66,254,41165,787.6632,23532,1,0,2,2013-09-18,2013-09-24,2,0,1,8842,1,0,1,2,50,669,44
4227,2,3,231,48,2982,NaN,26886,0,1,9,2014-06-12,2014-06-19,2,1,1,23752,6,0,1,6,22,1796,44
4278,2,3,173,848,27216,NaN,26886,0,1,9,2014-08-16,2014-08-22,2,1,1,18773,1,0,1,6,22,1796,44
4284,2,3,173,848,27216,NaN,26886,0,1,9,2014-08-16,2014-08-22,3,1,2,18773,1,0,1,6,22,1794,44
4290,2,3,173,848,27216,NaN,26886,0,1,9,2014-07-22,2014-07-29,3,1,2,18773,1,0,1,6,22,1802,44
4339,2,3,93,44,32227,NaN,26886,1,1,9,2015-02-20,2015-02-27,2,0,1,11815,1,0,1,3,5,1701,44
4486,2,3,66,462,52482,3981.0822,27150,0,1,9,2014-10-26,2014-11-01,2,0,1,9171,1,0,1,4,118,200,44
4533,2,3,66,311,50995,776.8009,28400,0,0,0,2014-09-03,2014-09-04,2,0,1,17859,1,0,4,2,50,427,44
4928,2,3,69,573,33444,NaN,30850,1,0,4,2014-04-02,2014-04-03,2,0,1,44035,6,0,6,6,204,27,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37666463,2,3,230,458,1041,NaN,1172156,1,1,0,2013-11-21,2013-11-24,2,0,1,8824,1,1,1,4,8,118,44
37666464,2,3,66,174,30055,1126.9814,1172156,1,1,0,2013-11-20,2013-11-23,2,0,1,8824,1,0,2,4,8,118,44
37666465,2,3,66,174,30055,1126.9814,1172156,1,1,0,2013-11-21,2013-11-24,2,0,1,8824,1,0,1,4,8,118,44
37666602,2,3,80,41,22664,NaN,1172535,0,0,1,2014-12-01,2014-12-03,2,0,1,18569,1,0,2,3,182,83,44
37666653,2,3,80,41,22664,NaN,1172535,0,0,9,2015-03-18,2015-03-23,2,0,1,20040,1,0,1,5,26,40,44
37666661,2,3,80,41,22664,NaN,1172535,0,0,9,2015-03-18,2015-03-23,2,0,1,20040,1,0,1,5,26,40,44
37666662,2,3,80,41,22664,NaN,1172535,0,0,9,2015-03-18,2015-03-23,2,0,1,20040,1,0,1,5,26,40,44
37666664,2,3,80,41,22664,NaN,1172535,0,0,9,2015-03-18,2015-03-23,2,0,1,20040,1,0,1,5,26,40,44
37666666,2,3,80,41,22664,NaN,1172535,0,0,9,2015-03-18,2015-03-23,2,0,1,20040,1,0,1,5,26,40,44
37667547,18,2,10,0,1831,NaN,1179024,1,1,9,2014-10-08,2014-10-10,2,0,1,8818,1,0,1,3,99,88,44
37668258,2,3,66,467,5406,NaN,1185686,0,0,6,2015-02-19,2015-02-26,2,0,1,11942,1,0,2,4,193,99,44
37668259,2,3,66,467,5406,NaN,1185686,0,1,6,2015-02-11,2015-02-18,2,0,1,11942,1,0,2,4,193,99,44
37668705,13,1,46,172,47043,NaN,1188620,0,0,9,2014-10-03,2014-10-05,4,0,2,8272,1,0,1,2,50,659,44
37668769,8,4,77,824,45831,NaN,1189209,0,1,1,2013-07-25,2013-07-29,2,0,1,21766,1,0,1,6,208,1418,44
37668903,2,3,66,174,17901,2553.2595,1190329,0,1,9,2013-09-25,2013-09-28,2,0,1,8855,1,0,1,2,50,213,44
37669132,24,2,3,50,5703,NaN,1190600,0,0,1,2014-03-15,2014-03-16,1,0,1,41979,1,0,1,3,106,332,44
37669156,24,2,3,50,5703,NaN,1190600,0,0,7,2014-12-31,2015-01-01,1,0,1,43199,1,0,1,3,106,106,44
37669172,24,2,3,50,5703,NaN,1190600,0,1,0,2015-05-15,2015-05-16,1,0,1,552,1,0,2,3,106,331,44
37669173,24,2,3,50,5703,NaN,1190600,0,1,0,2015-05-15,2015-05-20,1,0,1,552,1,0,1,3,106,331,44
37669174,24,2,3,50,5703,NaN,1190600,0,1,0,2015-02-10,2015-05-16,1,0,1,552,1,0,1,3,106,331,44
37669175,24,2,3,50,5703,NaN,1190600,0,1,0,2015-02-10,2015-02-12,1,0,1,552,1,0,1,3,106,331,44
37669176,24,2,3,50,5703,NaN,1190600,0,0,0,2015-01-21,2015-01-22,1,0,1,552,1,0,1,3,106,331,44
37669611,2,3,66,448,25538,554.8302,1194570,0,0,0,2014-05-07,2014-05-08,3,0,1,21257,1,0,2,2,50,837,44
37669697,10,0,182,416,49461,NaN,1194592,0,0,5,2014-02-20,2014-02-23,2,0,1,55660,6,0,1,4,196,1992,44
37669812,24,2,3,50,5703,NaN,1194944,0,0,2,2014-10-10,2014-10-11,1,0,1,552,1,0,1,3,106,331,44
37669826,24,2,3,50,5224,NaN,1194944,0,0,5,2014-10-16,2014-10-17,1,0,1,6305,1,0,1,3,106,136,44
37669827,24,2,3,50,5224,NaN,1194944,0,0,5,2014-10-22,2014-10-23,1,0,1,552,1,0,1,3,106,331,44
37669828,24,2,3,50,5224,NaN,1194944,0,0,5,2014-10-22,2014-10-23,1,0,1,552,1,0,1,3,106,331,44
37669860,13,1,46,414,7317,1358.5887,1195757,0,1,1,2014-09-08,2014-09-14,2,0,1,8252,1,0,2,6,170,313,44
37670182,8,4,77,871,620,NaN,1197569,0,0,3,2014-09-20,2014-09-27,2,3,1,8257,1,0,1,0,63,1681,44

In [145]:
train[train["srch_destination_id"] == 8250].sort_values("is_booking", ascending=False)

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,srch_ci,srch_co,srch_adults_cnt,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
21820117,11,3,205,354,48951,1940.5972,1130904,0,0,9,2013-05-20,2013-05-23,3,0,1,8250,1,1,1,2,50,628,1
33250914,2,3,66,462,49272,877.3595,1042877,0,0,9,2014-04-14,2014-04-16,2,3,2,8250,1,1,1,2,50,628,88
12050855,2,3,66,435,5391,1736.7710,629765,0,1,9,2013-06-18,2013-06-23,1,0,1,8250,1,1,1,2,50,628,24
33250970,2,3,66,174,45898,NaN,1043157,0,0,0,2013-12-21,2013-12-22,2,0,1,8250,1,1,1,2,50,628,45
21339313,11,3,205,135,29816,1052.0141,693381,0,1,0,2015-01-24,2015-01-27,2,0,1,8250,1,1,1,2,50,628,1
23246364,37,1,69,749,51392,NaN,344795,0,0,5,2015-01-06,2015-01-10,1,0,1,8250,1,1,2,2,50,628,19
21339254,2,3,66,220,43026,1973.4137,692349,0,1,0,2014-11-18,2014-11-22,2,0,1,8250,1,1,1,2,50,628,79
12050629,2,3,235,13,53632,NaN,629646,0,0,6,2013-07-12,2013-07-15,2,1,1,8250,1,1,1,2,50,628,51
35396011,2,3,66,337,10841,2221.6079,1140829,0,0,9,2014-01-13,2014-01-15,1,0,1,8250,1,1,1,2,50,628,1
12050621,2,3,235,13,53632,NaN,629646,0,0,6,2013-08-25,2013-08-28,2,2,1,8250,1,1,1,2,50,628,1
12050620,2,3,235,13,53632,NaN,629646,0,0,6,2013-08-21,2013-08-25,2,2,1,8250,1,1,1,2,50,628,1
29661691,2,3,66,174,48479,395.9393,961794,0,0,9,2014-10-10,2014-10-12,2,2,1,8250,1,1,1,2,50,628,88
12050618,2,3,235,13,53632,NaN,629646,0,0,6,2013-08-16,2013-08-21,2,2,1,8250,1,1,1,2,50,628,1
4819043,2,3,66,294,24848,1343.9237,457009,0,1,9,2014-10-26,2014-10-31,2,0,1,8250,1,1,1,2,50,628,79
4818586,13,1,46,244,33092,NaN,456822,0,0,9,2013-09-15,2013-09-17,1,0,1,8250,1,1,1,2,50,628,45
17601884,2,3,66,348,48862,2234.1470,1019010,0,0,1,2014-08-29,2014-09-01,1,0,1,8250,1,1,1,2,50,628,45
35396718,2,3,66,348,47997,2235.8576,1143137,0,1,9,2014-11-27,2014-12-01,2,0,1,8250,1,1,1,2,50,628,54
29661677,2,3,66,174,48479,396.1633,961794,0,0,9,2014-08-29,2014-09-01,2,0,1,8250,1,1,1,2,50,628,24
29661644,2,3,66,174,11984,263.9343,961700,0,0,9,2014-02-14,2014-02-17,4,1,2,8250,1,1,1,2,50,628,1
17602205,34,3,66,142,24516,1542.7438,1020006,0,1,9,2013-08-07,2013-08-12,2,0,1,8250,1,1,1,2,50,628,1
17602279,2,3,66,184,2037,611.9752,1020087,0,1,9,2013-10-12,2013-10-15,2,0,1,8250,1,1,1,2,50,628,84
29661638,34,3,205,155,6802,997.0128,961629,0,1,9,2014-04-28,2014-04-30,1,0,1,8250,1,1,1,2,50,628,79
21338650,2,3,66,174,9890,226.4383,689630,0,0,9,2014-12-27,2014-12-30,4,0,2,8250,1,1,1,2,50,628,79
33249629,2,3,66,442,76,1069.1784,1035901,0,1,9,2014-05-23,2014-05-26,2,0,1,8250,1,1,1,2,50,628,71
21338116,2,3,66,442,16700,1056.4986,688169,0,1,9,2014-08-14,2014-08-17,2,0,1,8250,1,1,1,2,50,628,24
6967671,2,3,66,174,47287,235.0736,64646,0,0,9,2014-06-20,2014-06-23,2,0,1,8250,1,1,1,2,50,628,54
4818587,13,1,46,244,33092,NaN,456822,0,0,9,2013-09-14,2013-09-17,1,0,1,8250,1,1,1,2,50,628,45
12050884,2,3,66,318,3300,1732.6563,630320,0,1,2,2013-09-12,2013-09-16,1,0,1,8250,1,1,1,2,50,628,32
35396901,2,3,66,363,13711,2134.0886,1143448,0,1,2,2014-08-24,2014-08-27,2,0,1,8250,1,1,1,2,50,628,1
8612076,2,3,66,442,46296,1072.3117,76375,0,0,9,2014-11-27,2014-11-29,2,0,1,8250,1,1,1,2,50,628,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13181566,2,3,66,174,24103,227.3409,865791,0,0,9,2014-09-05,2014-09-07,4,0,2,8250,1,0,1,2,50,628,79
13181292,13,1,46,171,30719,5646.6118,865414,0,1,9,2014-04-20,2014-04-30,2,0,1,8250,1,0,2,2,50,628,1
13182390,2,3,66,174,24103,229.1612,868553,0,0,3,2014-08-01,2014-08-05,2,2,1,8250,1,0,2,2,50,628,18
13181254,2,3,66,174,29618,395.2412,865039,0,1,9,2014-08-31,2014-09-01,1,0,1,8250,1,0,1,2,50,628,1
13181252,2,3,66,174,29618,395.2412,865039,0,1,9,2014-08-31,2014-09-02,1,0,1,8250,1,0,2,2,50,628,1
13181251,2,3,66,174,29618,395.2412,865039,0,1,9,2014-08-31,2014-09-03,1,0,1,8250,1,0,4,2,50,628,1
13181081,2,3,66,226,31456,1768.5980,864810,1,1,9,2015-03-04,2015-03-10,4,0,2,8250,1,0,1,2,50,628,88
13181062,2,3,66,226,31456,1768.5820,864810,0,0,0,2014-10-21,2014-10-22,1,0,1,8250,1,0,1,2,50,628,45
13181061,2,3,66,226,31456,1768.5820,864810,0,1,0,2014-10-20,2014-10-21,1,0,1,8250,1,0,2,2,50,628,45
13181060,2,3,66,226,31456,1768.5820,864810,0,0,0,2014-10-20,2014-10-22,1,0,1,8250,1,0,1,2,50,628,45
13182371,2,3,66,174,24103,227.4253,868553,0,0,3,2014-07-16,2014-08-05,2,0,1,8250,1,0,1,2,50,628,88
13182372,2,3,66,174,24103,227.4253,868553,0,0,3,2014-08-02,2014-08-06,2,0,1,8250,1,0,1,2,50,628,88
13182373,2,3,66,174,24103,227.4253,868553,0,0,3,2014-08-03,2014-08-07,2,0,1,8250,1,0,1,2,50,628,88
13182374,2,3,66,174,24103,229.1612,868553,0,0,3,2014-08-01,2014-08-05,2,0,1,8250,1,0,1,2,50,628,18
13182389,2,3,66,174,24103,223.2575,868553,0,0,3,2014-08-01,2014-08-05,2,2,1,8250,1,0,1,2,50,628,54
13182388,2,3,66,174,24103,228.1867,868553,0,0,3,2014-08-01,2014-08-05,2,2,1,8250,1,0,1,2,50,628,79
13182387,2,3,66,174,24103,227.5322,868553,0,0,3,2014-08-02,2014-08-05,2,2,1,8250,1,0,1,2,50,628,99
13182386,2,3,66,174,24103,227.5322,868553,0,0,3,2014-08-03,2014-08-06,2,2,1,8250,1,0,3,2,50,628,99
13182385,2,3,66,174,24103,227.5322,868553,0,0,3,2014-08-02,2014-08-06,2,2,1,8250,1,0,1,2,50,628,99
13182384,2,3,66,174,24103,229.1612,868553,0,0,3,2014-08-03,2014-08-06,2,3,1,8250,1,0,1,2,50,628,18
13182383,2,3,66,174,24103,229.1612,868553,0,0,3,2014-08-03,2014-08-06,2,2,1,8250,1,0,2,2,50,628,18
13182382,2,3,66,174,24103,229.1612,868553,0,0,3,2014-08-03,2014-08-06,2,0,1,8250,1,0,1,2,50,628,18
13182381,2,3,66,174,24103,227.3635,868553,0,0,3,2014-07-31,2014-08-04,2,0,1,8250,1,0,1,2,50,628,45
13182380,2,3,66,174,24103,227.4253,868553,0,0,3,2014-07-31,2014-08-04,2,0,1,8250,1,0,2,2,50,628,88
13182379,2,3,66,174,24103,227.4253,868553,0,0,3,2014-07-16,2014-08-05,2,0,1,8250,1,0,1,2,50,628,88
13182378,2,3,66,174,24103,227.4253,868553,0,0,3,2014-08-02,2014-08-06,2,0,1,8250,1,0,1,2,50,628,88
13182377,2,3,66,174,24103,227.4253,868553,0,0,3,2014-08-03,2014-08-07,2,0,1,8250,1,0,1,2,50,628,88
13182376,2,3,66,174,24103,229.1612,868553,0,0,3,2014-08-03,2014-08-07,2,0,1,8250,1,0,2,2,50,628,18
13182375,2,3,66,174,24103,229.1612,868553,0,0,3,2014-08-02,2014-08-06,2,0,1,8250,1,0,1,2,50,628,18
37670245,34,3,205,155,19334,948.3004,1197813,0,1,5,2014-12-06,2014-12-10,2,0,1,8250,1,0,2,2,50,628,45

In [124]:
agg.head()

   srch_destination_id  hotel_cluster  bookings  clicks  relevance
0                    4             22       0.0     1.0       0.05
1                    4             30       0.0     1.0       0.05
2                    4             32       1.0     1.0       1.05
3                    4             78       0.0     1.0       0.05
4                    4             82       0.0     1.0       0.05